<section id="archive">
        <div id="article">
            <% page.posts.forEach(function(post){ %>
                <article class="article" >
                    <div class="titlecss">
                        <a href="<%- url_for(post.path) %>" class="title"><%- post.title %></a>
                        <span class="postdate"><%- date(post.date,'YYYY/MM/DD') %></span>
                    </div>
                    <%- post.excerpt %>
                    <a href="<%- url_for(post.path) %>#more" class="rmore"><%= theme.excerpt_link %></a>
                </article>
                <div style="background-color: rgba(150, 142, 142, 0.568); height:1px; width:80%;margin-top: 1em"></div>
            <% }) %>
        </div>
        <div id="sidebar">
            <p class="postlist">本页文章列表：</p>
            <% page.posts.forEach(function(post){ %>
                <div class="postmenu">
                    <span class="postdate"><%- date(post.date,'YYYY/MM/DD') %></span>
                    <a href="<%- url_for(post.path) %>" class="listtitle"><%- post.title %></a>
                    
                </div>
            <% }) %>
        </div> 
</section>
<% if (page.total > 1){ %>
    <nav id="page-nav">
      <% var prev_text = "&laquo; ";var next_text = " &raquo;"%>
      <%- paginator({
        prev_text: prev_text,
        next_text: next_text
      }) %>
    </nav>
  <% } %>


<style type="text/css">
    .titlecss{
        margin-bottom: 1em
    }
    #page-nav{
        text-align: center;
        margin-bottom: 2em;
        margin-top: 2em;
        letter-spacing: 10px;
    }
    .postmenu{
        margin: 10px 10px 10px 10px;
    }
    .postdate{
        color: rgba(150, 142, 142, 0.568);
        margin-left: 20px;
    }
    .postlist{
        color: rgba(150, 142, 142, 0.568);
        margin: 10px 10px 10px 0px;
    }
    #archive{ 
        display: inline-block;
        height: 100%;
        margin-left: 6%;
       
    }
    #article{
        display: inline-block;
        float: left;
    }
    #sidebar{
        display: inline-block;
        float: right;
        width: 30%;
        margin-top: 5%;
        margin-right: 3%;
        
    }
    .article{
        margin: 30px 0px 0px 0px;
    }
    .rmore{
        color: #e06c75;
        font-size: 15px;
    }
    .title{
        color: #e06c75;
        font-size: 20px;
    }
</style>

<script type="text/javascript">
    window.onload=function(){
        var h2=document.documentElement.clientHeight;
        var w2=document.documentElement.clientWidth;
        if(w2 <= 800){
            document.getElementById("article").style.width="94%";
            document.getElementById("sidebar").style.display="none";
        }else{
            document.getElementById("article").style.width="60%";
            document.getElementById("sidebar").style.display="inline-block";
        }; 
        document.getElementById("archive").style.minHeight=h2+"px";
    }
    window.onresize=function(){
        var w21=document.documentElement.clientWidth;
        if(w21 <= 800){
            document.getElementById("article").style.width="94%";
            document.getElementById("sidebar").style.display="none";
        }else{
            document.getElementById("article").style.width="60%";
            document.getElementById("sidebar").style.display="inline-block";
        }; 
        
    }
</script>

